DJANGO_SECRET_KEY=meiancloud-dev-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456
ADMIN_EMAIL=admin@example.com

MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=meianclouddata
MYSQL_USER=meianclouddata
MYSQL_PASSWORD=SRZyhMDrMrCaWdpA
