{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>个人中心</title>
{% endblock title %}

{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'accounts/styles/userprofile.css' %}">
{% endblock otherstyles %}
    

{% block content %}
    <div class="user-profile-container">
        <div class="left-side">
            <div class="avatar">
                <img src="{{ current_userprofile.avatar_url }}" alt="头像" class="avatar-img">
            </div>
            <div class="nickname">
                <h2>{{ current_userprofile.nick_name }}</h2>
            </div>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <div class="info-item">
                <label>昵称:</label>
                <span>{{ current_userprofile.nick_name }}</span>
            </div>
            {% if show_private %}
            <div class="info-item">
                <label>邮箱:</label>
                <span>{{ current_user.email }}</span>
            </div>
            {% endif %}
            <div class="info-item">
                <label>性别:</label>
                <span>{{ current_userprofile.get_gender_display }}</span>
            </div>
            {% if show_private %}
            <div class="info-item">
                <label>生日:</label>
                <span>{{ current_userprofile.birthday }}</span>
            </div>
            <div class="info-item">
                <label>个性签名:</label>
                <span>
                    {% if current_userprofile.sign %}
                        {{ current_userprofile.sign }}
                    {% else %}
                        <i>暂无个性签名</i>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
        
        {% if user.is_authenticated and not user.is_superuser%}
            <!-- <span>yes</span>
            <span>{{user.id}}+{{realuserid}}</span> -->
            {% if user.id == current_user.id %}
            <div class="divider"></div>
            <div class="buttons">
                <a href="{% url 'accounts:changepsw' userid=user.id %}"><button>修改密码</button></a>
                <a href="{% url 'accounts:editprofile' userid=user.id %}"><button>修改个人信息</button></a>
                
                {% if not user.is_superuser %}
                    <button id="delete-button">注销账户</button>
                {% endif %}
            </div>
            {% endif %}
                
        {% endif %}
            
        
    </div>

    <div id="password-modal" data-csrf-token="{{ csrf_token }}" data-delete-account-url="{% url 'accounts:delete_account' %}" data-redirect-url="{% url 'core:index' %}">
        <h3>确定要注销吗？请输入账号密码：</h3>
        <h3 class="danger-text">注意！此操作不可撤销！</h3>
        <input type="password" id="password-input" placeholder="请输入密码">
        <button id="confirm-button" class="btn btn-primary">确认</button>
        <button id="cancel-button" class="btn btn-secondary">取消</button>
    </div>

{% endblock content %}


{% block script %}
<script src="{% static 'accounts/script/userprofile.js' %}"></script>
{% endblock script %}
    
