{% extends 'core/base.html' %}
{% load static %}

{% block title %}
<title>畅所欲言</title>
{% endblock title %}

{% block otherstyles %}
<link rel="stylesheet" href="{% static 'community/freetotalk/freetotalk.css' %}">
{% endblock otherstyles %}

{% block content %}
<h1 class="freetotalk-page-title">畅所欲言</h1>

<div class="freetotalk-container" data-csrf-token="{{ csrf_token }}" data-comment-create-url="{% url 'community:comment_create' %}">
    <div class="content-wrapper">
        
        <!-- 评论表单 -->
        <div class="comment-form">
            <h3 class="section-title">在这里畅所欲言，发表您对梅庵的见解吧！</h3>
            <form action="" method="post" id="id_comment-form">
                {% csrf_token %}
                <div class="freetotalk-form-group">
                    <label for="id_title">标题</label>
                    {{ comment_form.title }}
                </div>
                <div class="freetotalk-form-group">
                    <label for="id_content">内容</label>
                    {{ comment_form.content }}
                </div>
                <button type="submit" class="submit-button submitting">发表评论</button>
            </form>
        </div>

        <!-- 评论区 -->
        <div class="comment-container">
            <h3 class="section-title">评论区</h3>
            {% for comment in comments %}
            <div class="comment-item"  data-comment-id="{{ comment.id }}">
                <div class="comment-header">
                    <div class="comment-author">
                        <a href="{% url 'accounts:userprofile' userid=comment.owner.owner.id%}" class="avatar-link">
                            <img src="{{ comment.owner.avatar_url }}" alt="avatar" class="comment-avatar">
                        </a>
                        <a href="{% url 'accounts:userprofile' userid=comment.owner.owner.id%}" class="comment-nick">{{ comment.owner.nick_name }}</a>
                    </div>
                    
                    <span class="comment-date">{{ comment.date|date:"Y-m-d H:i" }}</span>
                </div>
                <h3 class="comment-title">{{ comment.title }}</h3>
                <p class="comment-content">{{ comment.content }}</p>

                <!-- 展开回复按钮 -->
                <button class="reply-button" data-comment-id="{{ comment.id }}">展开回复</button>
                
                {% if user.username == comment.owner.owner.username %}
                    <button class="delete-comment-btn" data-comment-id="{{ comment.id }}">删除评论</button>
                {% endif %}


                <div class="replies" id="replies-{{ comment.id }}">
                    {% for reply in comment.visible_replies %}
                    <div class="reply-item" data-comment-id="{{ reply.id }}">
                        <div class="reply-author">
                            <a href="{% url 'accounts:userprofile' userid=reply.owner.owner.id%}" class="avatar-link">
                                <img src="{{ reply.owner.avatar_url }}" alt="avatar" class="reply-avatar">
                            </a>
                            <a href="{% url 'accounts:userprofile' userid=reply.owner.owner.id%}" class="reply-nick"><b>{{ reply.owner.nick_name }}</b></a>
                        </div>
                        
                        <p class="reply-item-content">{{ reply.content }}</p>
                        <p class="reply-item-date">{{ reply.date|date:"Y-m-d H:i" }}</p>
                        
                        {% if user.username == reply.owner.owner.username %}
                        <button class="delete-comment-btn" data-comment-id="{{ reply.id }}">删除</button>
                        {% endif %}
                            
                    </div>
                    {% empty %}
                    <p>暂无回复</p>
                    {% endfor %}
                    <hr>
                    <p>发表回复</p>
                    <!-- 添加回复表单 -->
                   <div class="reply-form-container">
                       <form method="post" action="" class="reply-form">
                           {% csrf_token %}
                            {{ reply_form.reply_content }}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                           <button type="submit" class="submit-reply-button submitting">发表回复</button>
                       </form>
                   </div>
                </div>
            </div>

            {% empty %}
            <p class="no-comments">暂无评论，快来发表你的看法吧！</p>
            {% endfor %}
        </div>

        <!-- 分页导航栏 -->
        <div class="pagination">
            <span class="step-links">
                {% if comments.has_previous %}
                    <a href="?page=1" class="pagination-link">&laquo; 第一页</a>
                    <a href="?page={{ comments.previous_page_number }}" class="pagination-link">上一页</a>
                {% endif %}
                <span class="current-page">
                    第 {{ comments.number }} 页，共 {{ comments.paginator.num_pages }} 页
                </span>
                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}" class="pagination-link">下一页</a>
                    <a href="?page={{ comments.paginator.num_pages }}" class="pagination-link">最末页 &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
        

{% endblock content %}

{% block script %}
<script src="{% static 'community/freetotalk/freetotalk.js' %}"></script>
{% endblock script %}
